


html {height:100%; width:100%;}
body {height:100%; width:100%;}

#canvas01 {position:absolute}
#canvas01 {top:15%;left:25%;}
#canvas01{border:8px rgb(34% 78% 43%) outset;}
#canvas01 {height: 60%; width:70%;}